body{
    background-color: #438a5e;
}

h1{
    font-size: 8rem;
    color: #4ECCA3;
    text-shadow: 5px 0 #232931;
    font-family: 'Lobster', cursive;
}

p{
    color: #4ECCA3;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}

.container{
    text-align: center;
    padding-bottom: 3%;
}
.dice{
    display: inline-block;
    text-align: center;
    padding: 10px 30px;
}

.button-reload{
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
}

.footer1{
    background-color: #bac964;
    text-align: center;
    width: 100%;
    height: 40px;
}